/* banner-wrap */

body .banner-wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 38%;
}

.banner-wrap .banner-contents {
  display: flex;
  flex-direction: row;
  align-items: centers;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position-x: 50%;
}

.banner-wrap .banner-contents .banner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--white-color);
  margin: 0 3vw 0 2vw; /* 스크롤의 위치 때문에 오른쪽 margin을 조금 더 준다.*/
}

/* banner-move-button */

.banner-content .banner-move-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 1rem;
  width: 1rem;

  transform: rotate(45deg);
}

/* !!! css에서 class 선택자와 id 선택자를 섞어서 쓰는것이 안된다.
(tag 선택자와 class 선택자는 가능)  */

/* 
  1. 퍼센트가 200퍼 이상.. 일반적인 경우를 벗어나면
    다른 항목과의 충돌로 height width가 무너질 수 있다.
  2. rotate 했기 때문에, padding margin도 전부 rotate 된다.
  3. 위/아래 꺽쇠 길이가 달라서 찾느라 시간이 좀 걸림
*/

#banner-left-button {
  border: solid;
  border-top: 3px;
  border-right: 3px;
  border-color: var(--white-color);
}

#banner-right-button {
  border: solid;
  margin-left: auto;
  border-left: 3px;
  border-bottom: 3px;
  border-color: var(--white-color);
}

/* banner-text */
.banner-content .banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7vw;
  /* margin: 10% 7%; bannner-content의 높이가 40vh, 왜인지 %가 부모의 너비값을 참조한다  */
  /* 결국 자식 항목에서 조절함 */
  color: var(--white-color);
  height: 80%;
}

.banner-text .banner-title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.banner-text .banner-subtitle {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.banner-text .participation-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-color: var(--white-color);
  transition-duration: 0.4s;
  color: var(--white-color);
  padding: 0.5rem 2.5rem;
  font-weight: 500;
}

.banner-text .participation-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--dacon-color);
  font-weight: 600;
}

.banner-wrap .index-icons {
  position: relative;
  display: flex;
  flex-direction: row;
  left: calc(2vw + 1rem * 1.1 + 7vw);
  /*    
        calc(9vw + 4.242px);
        banner-content의 margin = 2vw
        banner-text의 margin = 7vw 
        banner-move-button 1rem*sqrt(2) 인데, 현재 버튼의 border로 인해 오차가 있는 듯함. *1.1로 조정*/
  bottom: 3rem;
  z-index: 10;
  height: 0; /* !! 중요 !! 기존의 영역을 변경하지 않으면서 overlay한 항목을 추가 */
}

.test {
  position: relative;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  margin: 1rem;
  color: white;
  transition-property: background-color, padding;
  transition-duration: 0.5s;
  transition-delay: 0;
}

.test:hover {
  position: relative;
  background-color: rgba(255, 0, 0, 1);
  border-radius: 0.5rem;
  padding: 0 1rem;
  width: 0.5rem;
  height: 0.5rem;
  margin: 1rem;
  color: white;
  transition-property: background-color, padding;
  transition-duration: 0.5s;
  transition-delay: 0;
}

.banner-wrap .index-icons .off {
  position: relative;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  margin: 1rem;
  color: white;
}

.banner-wrap .index-icons .on {
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 0.5rem;
  padding: 0 1rem;
  width: 0.5rem;
  height: 0.5rem;
  margin: 1rem;
  color: white;
}

.banner-index-enter-active {
  transition: padding 5s;
  /* 진출;;; */
}
.banner-index-leave-active {
  transition: padding 5s;
  /* 진입;;; */
}

.banner-index-enter {
  padding: 0 1rem;
  opacity: 0;
  right: 10rem;
}

.banner-index-enter-to {
  padding: 0 0rem;
  opacity: 1;
  right: 4rem;
}

.banner-index-leave {
  padding: 0 1rem;
  opacity: 0;
}

.banner-index-leave-to {
  /* 진입모션 */
  padding: 0 1rem;
  opacity: 1;
  width: 0;
}

/* banner transition */

.component1-fade-enter-active,
.component1-fade-leave-active {
  transition: opacity 0.3s ease;
}
.component1-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0.5;
}
