<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" type="text/css" href="navigation.css" />
    <link rel="stylesheet" type="text/css" href="banner.css" />
    <link rel="stylesheet" type="text/css" href="status.css" />
    <script defer src="navigation.js"></script>
    <script defer src="banner.js"></script>
    <script defer src="dacon-status.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <!--navigation-->
  <style>
    body {
    }
  </style>
  <body>
    <nav id="navigation" class="navigation">
      <a class="member" href="main.html">
        <img src="src/img/dacon-title-logo.svg" alt="dacon" />
      </a>
      <navigation-menu></navigation-menu>
      <navigation-search-and-private></navigation-search-and-private>
    </nav>

    <div id="banner-wrap" class="banner-wrap">
      <transition name="component-fade" mode="in-out">
        <component
          v-bind:is="bannerComponent"
          v-bind:banner-contents="bannerContents"
          v-bind:banner-index="bannerIndex"
          v-on:move-left="moveLeft"
          v-on:move-right="moveRight"
        ></component>
      </transition>
      <div class="index-icons">
        <transition name="banner-index">
          <div
            class="on"
            id="banner-index-0-on"
            v-if="bannerIndex == 0"
            key="on"
          >
            111
          </div>
          <div class="off" id="banner-index-0-off" v-else key="off">aaa</div>
        </transition>
        <transition name="banner-index">
          <div
            class="on"
            id="banner-index-1-on"
            v-if="bannerIndex == 1"
            key="on"
          >
            222
          </div>
          <div class="off" id="banner-index-1-off" v-else key="off">bbb</div>
        </transition>
        <transition name="banner-index">
          <div
            class="on"
            id="banner-index-2-on"
            v-if="bannerIndex == 2"
            key="on"
          >
            333
          </div>
          <div class="off" id="banner-index-2-off" v-else key="off">ccc</div>
        </transition>
        <transition name="banner-index" mode="out-in">
          <div
            class="on"
            id="banner-index-3-on"
            v-if="bannerIndex == 3"
            key="on"
          >
            444
          </div>
          <div class="off" id="banner-index-3-off" v-else key="off">ddd</div>
        </transition>
      </div>
    </div>
    
    <div class="dacon-status-wrap" id="dacon-status-wrap">
      <dacon-status></dacon-status>
    </div>
  </body>
</html>
