:root {
  --text-color: #f0f4f5;
  --white-color: #ffffff;
  --background-white: #fafafa;

  --accent-color: #ff5e03;
  --dacon-color: #243b55;

  --light-gray: #b1b7c0;
  --text-gray: #6e737b;
  --text-light-gray: #8d939c;
  --super-light-gray: #f5f5f5;
  --background-gray: #f5f5f5;
}

* {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-left: 40px;
  padding: 20px 0 20px 20px;
  background-color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  overflow-y: visible;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.navigation .member {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation .main-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin: 0;
  height: 100%;
}

.navigation .main-menu .menu {
  display: flex;
  padding: 0px 10px 0 10px;
  text-align: center;
  flex-direction: row;
}

.navigation .main-menu .menu > * {
  color: var(--dacon-color);
  font-weight: 600;
}

.navigation .main-menu .menu #menu-more {
  color: var(--light-gray);
  font-weight: 700;
  cursor: pointer;
}

.navigation .right-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  margin: 0;
  height: 100%;
  width: 200px;
}

.navigation .right-top .navigation-search-and-private {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 200px;
  flex-shrink: 0;
}

.navigation .right-top .navigation-search-and-private .member {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.navigation .right-top .navigation-search-and-private .member img {
  border-radius: 10%;
}

.navigation .right-top .navigation-search-and-private .member #search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
}

/* dropdown */

.navigation .right-top .dropdown {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  left: 10px;
  background-color: var(--white-color);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  border-top: 1px solid var(--super-light-gray);
  width: auto;
  padding-bottom: 0px;
}

/* notification-drop-down */

.navigation .right-top .dropdown .notification-drop-down {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0px;
  width: 400px;
  margin: 10px 20px;
}

.navigation .right-top .dropdown .notification-drop-down-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.navigation
  .right-top
  .dropdown
  .notification-drop-down-top
  .notification-top-left {
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

.navigation
  .right-top
  .dropdown
  .notification-drop-down-top
  .notification-top-left
  > span {
  margin: 10px 0;
  font-size: 0.75rem;
}

.navigation
  .right-top
  .dropdown
  .notification-drop-down-top
  .notification-top-left
  #notification-count {
  display: flex;
  margin-left: 5px;
  color: red;
  font-size: 0.75rem;
}

.navigation .right-top .dropdown .notification-drop-down-top .list {
  position: relative;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0;
  padding: 0;
}

.navigation .right-top .dropdown .notification-drop-down-top .list > li {
  margin: 0 10px;
  font-size: 0.75rem;
}

.navigation .right-top .dropdown .notification-contents {
  margin-top: 15px;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.25);
  font-weight: 700;
  /* overflow-y: scroll; */
}

.navigation .right-top .dropdown .notification-contents > * {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.25);
  font-weight: 700;
  padding: 0.25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation
  .right-top
  .dropdown
  .notification-contents
  .notification-content
  .comment-and-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

/* profile-drop-down */

.navigation .right-top .dropdown .profile-drop-down {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0px;
  width: 166px;
  font-size: 0.75rem;
  font-weight: 600;
}

.navigation .right-top .dropdown .profile-drop-down .profile-drop-down-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
  padding: 0.3rem 1em 0.5rem 1rem;
  background-color: var(--super-light-gray);
  font-family: "Open Sans";
  color: var(--text-light-gray);
}

.navigation .right-top .dropdown .profile-drop-down .profile-drop-down-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  border: 1px solid var(--super-light-gray);
}

.navigation
  .right-top
  .dropdown
  .profile-drop-down
  .profile-drop-down-bottom
  > li {
  background-color: var(--white-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.navigation
  .right-top
  .dropdown
  .profile-drop-down
  .profile-drop-down-bottom
  li
  a {
  text-decoration: none;
  color: var(--text-light-gray);
}
